{{ define "content" }}
<h1 class="text-2xl font-bold mb-6 text-center mt-10" >Detalle de Liquidación</h1>

<!-- Contenedor de todas las tablas -->
<div id="export-container" class="bg-white md:p-4 p-10  max-w-4xl mx-auto">
  <!-- Información General -->
  <h2 class="text-lg font-semibold mb-4">Información de Liquidación | GR:{{ .data.liquidation.Gremission }} | {{ .data.liquidation.Date.Format "02/01/2006" }}</h2>
  <div class="overflow-x-auto">
    <table class="w-full border-collapse border border-gray-300 mb-6 text-sm sm:text-base">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Categoría</th>
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Fecha</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Date.Format "02/01/2006" }}</td>
        </tr>
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Partida</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Departure }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Llegada</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Arrival }}</td>
        </tr>
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Camión y Carreta</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Truck }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Conductor</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Driver }}</td>
        </tr>
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Guía de Remisión</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300" id="gremission">{{ .data.liquidation.Gremission }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Guía Transportista 1</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Gtransport }}</td>
        </tr>
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Guía Transportista 2</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Gtransport2 }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Factura</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.Invoice }}</td>
        </tr>
        <tr class="">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Detracción</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Detraction }}</td>
        </tr>
        <tr class="bg-gray-100">
            <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Flete</td>
            <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Freight }}</td>
          </tr>
          <tr >
            <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Flete Liquido</td>
            <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.FreightLiquid }}</td>
          </tr>
      </tbody>
    </table>
  </div>

  <!-- Gastos -->
  <h2 class="text-lg font-semibold mb-4">Gastos</h2>
  <div class="overflow-x-auto">
    <table class="w-full border-collapse border border-gray-300 mb-6 text-sm sm:text-base">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Categoría</th>
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Monto</th>
        </tr>
      </thead>
      <tbody>

        <tr>
            <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Pago conductor</td>
            <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f"  .data.liquidation.DriverPay }}</td>
          </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Descripción Conductor</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{  .data.liquidation.DriveDescription }}</td>
        </tr>
        {{ if gt .data.liquidation.Laundry 1.00 }}
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Lavadero</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Laundry }}</td>
        </tr>
        {{ end }}
        
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Cochera</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f"  .data.liquidation.Garage }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Guardianía</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Guardianship }}</td>
        </tr>

        {{ if gt .data.liquidation.Cover 1.00 }}

        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Encarpar/Desencarpar</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f"  .data.liquidation.Cover }}</td>
        </tr>
        {{ end }}

        {{ if gt .data.liquidation.Sweeper 1.00 }}
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Barrendero</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f" .data.liquidation.Sweeper }}</td>
        </tr>
        {{ end }}

        {{ if gt .data.liquidation.Fuel 1.00 }}
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Combustible</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Fuel }}</td>
        </tr>
        {{ end }}
        <tr class="">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold"> Descripción combustible</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .data.liquidation.FuelDescription }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Peajes</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.Toll }}</td>
        </tr>
      </tbody>
    </table>
  </div>

 <!-- Gastos Adicionales -->

{{ if .data.adition }}
<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

  <div class="overflow-x-auto">
    <h2 class="text-lg font-semibold mb-4">Gastos Adicionales</h2>

    <table class="w-full border-collapse border border-gray-300 mb-6 text-sm sm:text-base">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Descripción</th>
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Monto</th>
        </tr>
      </thead>
      <tbody>
        {{ range .data.adition }}
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ .Description }}</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f" .Price }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ else }}
  <p class="text-gray-500 py-2 mb-4">No hay gastos adicionales para esta liquidación.</p>
  {{ end }}
  <div class="overflow-x-auto">
    <table class="w-full border-collapse border border-gray-300 mb-6 text-sm sm:text-base">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Resumen</th>
          <th class="px-2 sm:px-4 py-2 text-left border border-gray-300">Monto</th>
        </tr>
      </thead>
      <h2 class="text-lg font-semibold mb-4">Total</h2>
      <tbody>
        <tr>
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Gasto Total</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{printf "%.2f"  .data.liquidation.ExpenseTotal }}</td>
        </tr>
        <tr class="bg-gray-100">
          <td class="px-2 sm:px-4 py-2 border border-gray-300 font-semibold">Líquido por Viaje</td>
          <td class="px-2 sm:px-4 py-2 border border-gray-300">{{ printf "%.2f" .data.liquidation.LiquidTrip }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



</div>

<!-- Botones de acción -->
<div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-4 mt-6 p-4 md:p-0">
  <button class="btn-primary mb-20 text-white rounded shadow" onclick="printAsPDF()">Imprimir como PDF</button>
</div>
<script>
  function printAsPDF() {
    const Gremission = document.getElementById('gremission').innerText;
    const printContents = document.getElementById('export-container').innerHTML;

    const printWindow = window.open('', '_blank');
    printWindow.document.write(`
      <html>
        <head>
            <title>GR:${Gremission}</title>
          <style>
            body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 20px;
              font-size: 10pt; /* Ajuste de fuente */
            }
            table {
              width: 100%;
              border-collapse: collapse;
              margin-bottom: 10px;
              font-size: 9pt; /* Ajusta el tamaño de la fuente para que sea más pequeño */
            }
            th, td {
              border: 1px solid #ddd;
              padding: 6px;
              text-align: left;
            }
            th {
              background-color: #f2f2f2;
            }

            /* Ajustes para la impresión */
            @media print {
              body {
                width: 100%;
                margin: 0;
                padding: 0;
              }
              .print-container {
                width: 100%;
                display: block;
                page-break-before: always;
              }
              table {
                width: 100%;
                margin-bottom: 10px;
              }
              th, td {
                padding: 4px 6px;
                font-size: 8pt; /* Ajuste más pequeño para la impresión */
              }

              /* Ajuste para garantizar que todo encaje en una sola página */
              @page {
                size: A4;
                margin: 10mm;
              }
            }
          </style>
        </head>
        <body>
          <div class="print-container">
            ${printContents}
          </div>
        </body>
      </html>`);
    printWindow.document.close();
    printWindow.focus();
    printWindow.print();
    printWindow.close();
  }
</script>



{{ end }}
