{{ define "content" }}
<main class="w-full h-screen overflow-hidden relative">
    <!-- Imagen de fondo -->
    <img src="../assets/img/trucks.png" alt="Fortuna Express" class="w-full h-screen object-cover filter blur-sm scale-110">

    <!-- Contenedor del login -->
    <div class="absolute inset-0 flex items-center justify-center px-4">
        <div class="bg-white p-6 sm:p-8 rounded-lg shadow-lg w-full max-w-md">
            <!-- Logo -->
            <img src="../assets/img/fort.png" alt="Fortuna Express" class="w-32 h-12 sm:w-48 sm:h-16 mx-auto mb-4">

            <!-- Formulario -->
            <form action="/login" method="POST"> <!-- Cambia aquí -->
                <!-- Campo DNI -->
                <div class="mb-4">
                    <label for="dni" class="block text-sm font-medium text-gray-700">Usuario</label>
                    <input type="text" id="dni" name="dni" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" required>
                </div>
                
                <!-- Campo Contraseña -->
                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
                    <input type="password" id="password" name="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-red-500 focus:border-red-500" required>
                </div>
                
                <!-- Botón Login -->
                <button type="submit" class="w-full bg-red-700 text-white font-bold py-2 px-4 rounded-lg hover:bg-red-600">
                    Iniciar Sesión
                </button>
            </form>
        </div>
    </div>
    <footer class="absolute bottom-0 w-full bg-transparent text-center text-white py-4">
        <p class="text-sm">&copy; 2025 DevCorp. Todos los derechos reservados.</p>
    </footer>

    
</main>

{{ end }}
